<div class="body">
    <div class="container">
        <div class="row">
            <div class="col mx-auto">
                <h2>About Me</h2>
                <hr>
                <p>
                    Enthusiastic full-stack web developer with a strong passion for learning and self-improvement. Currently pursuing B.Tech 3rd year in R.V.R & J.C College of Engineering. Experienced in machine learning and Android application development. Knowledgeable
                    in various programming languages and the latest web technologies.
                </p>
                <h3 class="text-white">Experience </h3>
                <ul>
                    <li>SmartInternz Platform (Google Supported)
                        <ul>
                            <li> Android Application Development Internship</li>
                            <li> Developed a grocery application using Kotlin, which included features such as user authentication, product search, cart management, and secure payment processing. Collaborated with a team of developers to ensure timely delivery
                                and seamless integration of various components.</li>
                            <li> Conducted thorough testing and debugging to identify and resolve issues, resulting in a stable and reliable application.</li>
                            <li>Utilized best practices in UI/UX design to create an intuitive and visually appealing user interface, leading to improved user engagement and increased customer satisfaction.</li>
                        </ul>
                    </li>
                    <li>
                        Indian Servers Company
                        <ul>
                            <li> Machine Learning Internship </li>
                            <li>Led a brain tumor detection project using Convolutional Neural Networks (CNN), involving the collection and preprocessing of medical imaging data, model training, and evaluation.</li>
                            <li>Implemented machine learning techniques and algorithms to develop an accurate brain tumor detection system, resulting in improved diagnosis and potential life-saving impact. </li>
                            <li>Optimized the model’s performance by fine-tuning hyperparameters, resulting in enhanced accuracy and reduced false positives.</li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>