<div class="container-custom">
    <div class="text-container text-center">
        <h1>Hello! My name is </h1>
        <h1>Shaik Shoheb</h1>


        <ngx-typed-js [strings]="[' Full-stack developer.','DevOps Engineering.','Programmer.']" [typeSpeed]="100" [backSpeed]="50" [shuffle]="true" [cursorColor]="'#61DAFB'" [loop]="true">
            <h3 class="a">I'm a <span class="typing"></span></h3>
        </ngx-typed-js><br>
        <div class="container row w-50 d-flex justify-content-between">
            <a target="_blank" href="https://github.com/SkShoheb33"><i class="fa-brands fa-github fa-xl"></i></a>
            <a target="_blank" href=""><i class="fa-brands fa-facebook fa-xl"></i></a>
            <a target="_blank" href=""><i class="fa-brands fa-instagram fa-xl"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/shaikshoheb33/"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        </div><br>
        <a target="_blank" href="../../../assets/Shoheb4.pdf" target="_blank">
            <div class="btn">Get resume</div>
        </a>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
        <!-- <div class="hexagon"></div> -->
    </div>
</div>